<ng-container
  *ngIf="{
    boxDetails: boxDetails$ | async,
    loading: loading$ | async,
    boxPrize: boxPrize$ | async,
    error: error$ | async
  } as cntx"
>
  <button routerLink=".." class="btn btn-success">Go Back</button>
  <ng-container *ngIf="cntx.error">
    <div class="mt-2 alert alert-danger" role="alert">{{ cntx.error }}</div>
  </ng-container>
  <div class="w-100 d-flex justify-content-center">
    <div class="card">
      <img
        class="card-img-top"
        [src]="cntx.boxDetails?.iconUrl"
        onerror="this.src = 'data:image/gif;base64,R0lGODlhAQABAAD/ACwAAAAAAQABAAACADs='"
        alt="Card image cap"
      />
      <div class="card-body">
        <h5 class="card-title">Box Name: {{ cntx.boxDetails?.name }}</h5>
        <h5 class="card-text">Box Cost: {{ cntx.boxDetails?.price | currency }}</h5>
        <ng-container *ngIf="cntx.loading"
          ><span class="text-warning">...Loading</span></ng-container
        >
        <button
          class="btn btn-outline-secondary"
          *ngIf="!cntx.loading && !cntx.boxPrize"
          (click)="openBox(cntx.boxDetails?.id)"
        >
          {{ 'Open Box' }}
        </button>
        <ng-container *ngIf="!cntx.loading && cntx.boxPrize">
          <div class="alert alert-primary" role="alert">You won prizes</div>
          <ng-container *ngFor="let prize of cntx.boxPrize">
            <div class="d-flex flex-column">
              <p class="badge badge-secondary text-warning">Name:{{ prize.itemVariant?.name }}</p>

              <p class="badge badge-secondary text-warning">Price:{{ prize.itemVariant?.value }}</p>
            </div>
          </ng-container>
        </ng-container>
      </div>
    </div>
  </div>
</ng-container>
